mat-form-field {
  width: 100%;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

mat-label {
  left: 1px;
  position: relative;
}

.date-input-icon {
  font-size: 25px;
}

.data-form {
  padding: 30px;
}
