table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-column-select {
  width: 7%;
  text-align: left;
}

.searchbox {
  font-size: 14px;
  width: 200px;
  left: 12px;
}
