<div class="secondary-header">
  <app-view-header title="{{FormData['FormTitle']}}" description="{{FormData['FormDescription']}}"></app-view-header>
  <mat-card-actions align="end">
    <app-form-buttons [IsMultiSelected]="this.datagrid?.isMultiSelected" [IsSelected]="this.datagrid?.isSelected"
      [formshow]="fromshow" [formvalid]="this.dataform?.myForm?.invalid" [ButtonsData]="FormData['Actions']"
      (onNewClick)="New()" (onDiscardClick)="Discard()" (onEditClick)="Edit()" (onSaveClick)="Save(FunctionSelected)"
      (onDeleteClick)="Delete()" (onRefreshClick)="Refresh()"></app-form-buttons>
  </mat-card-actions>
</div>
<div class="grid-container">
  <mat-card [ngClass]="fromshow?'data-form visible':'data-form hidden'">
    <app-data-form [DataForm]="FormData['DataForm']"></app-data-form>
  </mat-card>
  <mat-card id="Grid" class="data-grid">
    <app-data-grid [DataGrid]="FormData['DataGridView']"></app-data-grid>
  </mat-card>
</div>
